@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: montserrat;
    margin: 0;
    width: 290px;
    font-weight: 400;
    font-size: 80%;
    word-wrap : break-word;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* extension heading */
h1 {
    font-size: 18pt;
    padding: 10px;
    margin: 0;
    color: #3C2109;
}

/* header */
.header {
    background-color: rgba(254, 213, 33, 0.9);
    display: flex;
}

.flex-child {
    flex: 1;
    margin-top: 10px;
}

/* section titles */
h2 {
    font-weight: 600;
    font-size: 12pt;
    color: #3C2109;
    padding: 10px;
    background-color: #FFF1CA;
    text-align: center;
    margin: 7px 7px 0;
    border-radius: 10px;
}

/* content area of extension */
.content-scroll-view {
    max-height: 300px;
    overflow-y: scroll;
}

/* password tool section */
#password-checker {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* password checker/info tracking label */
.tool-label {
    color: #3C2109;
    font-size: 10pt;
    font-weight: 600;
    margin-left: 10px;
}

#password-input-container {
    margin-left: 15px;
    width: 195px;
}


/* text input for password checker*/
#password-input {
    resize: none;
    white-space: nowrap;
    width: 98%;
    height: 25px;
}

#subtitle {
    font-style: italic;
    font-size: 8pt;
    margin: 3px;
    display: none;
    color: dimgray;
}

/* eye icon */
#password-checker i {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 9px;
    font-size: 11pt;
    cursor: pointer;
    color: gray;
}

/* text that password was copied */
#item-copied {
    margin-left: 20px;
    display: none;
    color: dimgray;
}

/* warning for common passwords */
#common-password-warning {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    background-color: rgba(247, 122, 64, .2);
    border-radius: 7px;
    padding: 5px;
}

#common-password-warning i {
    color: #f77a40;
}

#common-password-warning a, #common-password-warning a:visited {
    color: black;
}

#common-password-warning a:hover {
    color: #d45f28;
}

#common-password-warning > * {
    vertical-align: middle;
    padding: 4px;
    margin: 0;
}

#common-password-warning span {
    font-weight: 600;
}

/* warning for non-ASCII passwords */
#common-password-error {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    background-color: rgba(247, 122, 64, .2);
    border-radius: 7px;
    padding: 5px;
}

#common-password-error i {
    color: #f77a40;
}

#common-password-error span {
    font-weight: 600;
}

#common-password-error > * {
    vertical-align: middle;
    padding: 4px;
    margin: 0;
}



/* password requirement container */
#password-requirements {
    margin-left: 10px;
    padding: 0 0 0 20px;
}

/* common sequences used in password */
#password-common #sequences {
    color: #ab2000;
}

/* website name in info tracking tool */
.tracker-website {
    text-transform: uppercase;
}

/* paragraphs in info tracking tool */
.tracker-info {
    margin: 10px;
}

/* more info drop down sections */
.dropdown-container {
    margin: 10px;
    padding: 3px;
    border-bottom: 1px solid #edbc0c;
}

/* drop down question/topic*/
.dropdown-title {
    margin-right: 5px;
    font-weight: 600;
    color: #3C2109;
}

/* first dropdown element on password tool */
.dropdown-container .strong-password {
    margin: 0;
}

/* drop down arrows*/
.arrow {
    border: solid #E9BF59;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

/* up arrow */
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* down arrow */
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* content to be displayed in dropdown */
.dropdown-content {
    display: none;
    color: #3C2109;
}

.dropdown-content ul{
    margin-left: 20px;
    padding: 0;
}

/* link to website */
.website-link {
    float: right;
    color: #5ea0ad;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
}

/* footer */
.footer {
    text-align: center;
}

.tab_text {
    margin: 0;
}

/* button to get to the info tracking tool */
.info-tracking-link {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(254, 213, 33, 0.9);
    border-bottom: 5px solid rgba(254, 213, 33, 0.9);
}

/* button to get to the info tracking tool */
.password-link {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(254, 213, 33, 0.9);
    border-bottom: 5px solid rgba(254, 213, 33, 0.9);
}

/* info tracking link */
.nav-button {
    text-decoration: none;
    color: #3C2109;
}

/* selected tab */
.selected-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(254, 213, 33, 0.9);
    font-weight: bold;
    border-bottom: 5px solid #593515;
}

#permissions-container {
    margin: 10px;
    position: relative;
}

#permissions-label {
    padding-left: 60px;
}

#permissions-toggle {
    position: absolute;
    top: 25%;
}

#permissions-subtitle > p {
    margin: 5px 0 0 10px;
    font-style: italic;
    font-size: 95%;
}

#permissions-subtitle .dropdown-container {
    margin: 0 10px 10px 10px;
    border: none;
    padding: 0;
}

#permissions-subtitle .dropdown-container p {
    margin: 10px 5px 0 0;
}

/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDEDE;
}

.slider:before {
    position: absolute;
    content: "";
    height:18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
}

.slider:after {
    content:'OFF';
    color: black;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    left: 25%;
    content:'ON';
}

input:checked + .slider {
    background-color: #A9D2C9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #A9D2C9;
}

input:checked + .slider:before {
    left: 26px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
